<!DOCTYPE html>
<html class=" responsive" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#171a21">
		<title>Steam Community :: Confirmations</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	
	
	<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/motiva_sans.css?v=FAK4O46_mOLB&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/buttons.css?v=6uRURryOh96m&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/shared_global.css?v=XpxaZbaICnNK&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/globalv2.css?v=NxHTqp2J_7zD&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/modalContent.css?v=.TP5s6TzX6LLh" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/mobile/styles_mobileconf.css?v=7eOknd5U_Oiy&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/motiva_sans.css?v=FAK4O46_mOLB&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/html5.css?v=.MtSlvoLZL0Tb" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/economy.css?v=Puk7JmfocgYh&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/trade.css?v=RI80zWS9fAgp&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/profile_tradeoffers.css?v=YP3-1xEiIwFe&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/shared_responsive.css?v=GXt0zg7hRLhk&amp;l=english" rel="stylesheet" type="text/css" >
<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/header.css?v=Bv4kKK3Pxl5t&amp;l=english" rel="stylesheet" type="text/css" >
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-33779068-1', 'auto', {
					'sampleRate': 0.4				});
				ga('set', 'dimension1', true );
				ga('set', 'dimension2', 'External' );
				ga('set', 'dimension3', 'mobileconf' );
				ga('set', 'dimension4', "mobileconf\/conf" );
				ga('send', 'pageview' );

			</script>
			<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/prototype-1.7.js?v=.55t44gwuwgvw" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/scriptaculous/_combined.js?v=OeNIgrpEF8tL&amp;l=english&amp;load=effects,controls,slider,dragdrop" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/global.js?v=6ZLfayi23hTz&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/jquery-1.11.1.min.js?v=.isFTSRckeNhC" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/tooltip.js?v=.vG8yiuBTGwkE" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/shared_global.js?v=U0kf0PE9VpkG&amp;l=english" ></script>
<script type="text/javascript">$J = jQuery.noConflict();
if ( typeof JSON != 'object' || !JSON.stringify || !JSON.parse ) { document.write( "<scr" + "ipt type=\"text\/javascript\" src=\"https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/json2.js?v=pmScf4470EZP&amp;l=english\" ><\/script>\n" ); };
</script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(event) {  
				SetupTooltips( { tooltipCSSClass: 'community_tooltip'} ); 
		});
		</script><script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/jquery-ui-1.9.2.min.js?v=.ILEZTVPIP_6a" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/mobileappapi.js?v=KX5d7WjziQ7F&amp;l=english&amp;mobileClientType=android" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/mobile/mobileconf.js?v=mzd_2xm8sUkb&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/economy_common.js?v=tsXdRVB0yEaR&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/economy.js?v=rI0xgpCYSBS9&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/modalv2.js?v=dfMhuy-Lrpyo&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/modalContent.js?v=iJpPXTEy7hWW&amp;l=english" ></script>
<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/shared_responsive_adapter.js?v=TbBMCK37KgCo&amp;l=english" ></script>

						<meta name="twitter:card" content="summary_large_image">
			
	<meta name="twitter:site" content="@steam" />

						<meta property="og:title" content="Steam Community :: Confirmations">
					<meta property="twitter:title" content="Steam Community :: Confirmations">
					<meta property="fb:app_id" content="105386699540688">
			
	
			<link rel="image_src" href="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
		<link rel="image_src" href="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
		<meta property="og:image" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
		<meta name="twitter:image" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png" />
					<meta property="og:image:secure" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
		
	
	
	
	</head>
<body class=" responsive_page">

<div class="responsive_page_frame with_header">

						<div class="responsive_page_menu_ctn mainmenu">
				<div class="responsive_page_menu"  id="responsive_page_menu">
										<div class="mainmenu_contents">
						<div class="mainmenu_contents_items">
															<!-- profile area -->
								<div class="responsive_menu_user_area">
									<div class="responsive_menu_user_persona persona offline">
										<div class="playerAvatar offline">
											<a href="https://steamcommunity.com/profiles/76561198972540829/">
												<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/86/8686d14bf547968d8b3c545c208d48eddc0e80fb.jpg" srcset="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/86/8686d14bf547968d8b3c545c208d48eddc0e80fb.jpg 1x, https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/86/8686d14bf547968d8b3c545c208d48eddc0e80fb_medium.jpg 2x">											</a>
										</div>
										<a href="https://steamcommunity.com/profiles/76561198972540829/" data-miniprofile="1012275101">1147816814</a>									</div>

																												<div class="responsive_menu_cartwallet_area persona offline">
																																		<div class="responsive_menu_user_wallet">
													<a href="https://store.steampowered.com/account/">
														Wallet <b>(HK$ 40.00)</b>													</a>
												</div>
																					</div>
																	</div>

																									<div class="menuitem notifications_item">
										Notifications										<div class="notification_count_total_ctn has_notifications">
											<span class="notification_envelope"></span>
											<span class="notification_count">12</span>
										</div>
									</div>
									<div class="notification_submenu" style="display: none;" data-submenuid="notifications">
										
							<a data-notification-type="4" class="popup_menu_item notification_ctn header_notification_comments " href="https://steamcommunity.com/profiles/76561198972540829/commentnotifications/">
				<span class="notification_icon"></span>New comments <span class="notification_count">0</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="5" class="popup_menu_item notification_ctn header_notification_items " href="https://steamcommunity.com/profiles/76561198972540829/inventory/">
				<span class="notification_icon"></span>New items <span class="notification_count">0</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="6" class="popup_menu_item notification_ctn header_notification_invites " href="https://steamcommunity.com/profiles/76561198972540829/home/invites/">
				<span class="notification_icon"></span>New invites <span class="notification_count">0</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="8" class="popup_menu_item notification_ctn header_notification_gifts " href="https://steamcommunity.com/profiles/76561198972540829/inventory/#pending_gifts">
				<span class="notification_icon"></span>New gifts <span class="notification_count">0</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="9" class="popup_menu_item notification_ctn header_notification_offlinemessages active_inbox_item" href="javascript:void(0)" onclick="LaunchWebChat(); HideMenu( 'header_notification_link', 'header_notification_dropdown' ); return false;">
				<span class="notification_icon"></span>New messages <span class="notification_count">11</span>			</a>
								<a data-notification-type="1" class="popup_menu_item notification_ctn hide_when_empty header_notification_tradeoffers active_inbox_item" href="https://steamcommunity.com/profiles/76561198972540829/tradeoffers/">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span>New trade offers <span class="notification_count">1</span>					</a>
								<a data-notification-type="2" class="popup_menu_item notification_ctn hide_when_empty header_notification_asyncgame " href="https://steamcommunity.com/profiles/76561198972540829/gamenotifications">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span>New turns waiting <span class="notification_count">0</span>					</a>
								<a data-notification-type="3" class="popup_menu_item notification_ctn hide_when_empty header_notification_moderatormessage " href="https://steamcommunity.com/profiles/76561198972540829/moderatormessages">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span>New community messages <span class="notification_count">0</span>					</a>
								<a data-notification-type="10" class="popup_menu_item notification_ctn hide_when_empty header_notification_helprequestreply " href="https://help.steampowered.com/en/wizard/HelpRequests">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span>Steam Support replies <span class="notification_count">0</span>					</a>
													</div>
									<a class="menuitem supernav" href="https://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
		Store	</a>
	<div class="submenu_store" style="display: none;" data-submenuid="store">
		<a class="submenuitem" href="https://store.steampowered.com/">Featured</a>
		<a class="submenuitem" href="https://store.steampowered.com/explore/">Explore</a>
		<a class="submenuitem" href="https://store.steampowered.com/curators/">Curators</a>
		<a class="submenuitem" href="https://steamcommunity.com/my/wishlist/">Wishlist</a>
		<a class="submenuitem" href="https://store.steampowered.com/news/">News</a>
		<a class="submenuitem" href="https://store.steampowered.com/stats/">Stats</a>
			</div>


	<a class="menuitem supernav" style="display: block" href="https://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
		Community	</a>
	<div class="submenu_community" style="display: none;" data-submenuid="community">
		<a class="submenuitem" href="https://steamcommunity.com/">Home</a>
		<a class="submenuitem" href="https://steamcommunity.com/discussions/">Discussions</a>
		<a class="submenuitem" href="https://steamcommunity.com/workshop/">Workshop</a>
		<a class="submenuitem" href="https://steamcommunity.com/market/">Market</a>
		<a class="submenuitem" href="https://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
							</div>

	

			<a class="menuitem supernav username" href="https://steamcommunity.com/profiles/76561198972540829/home/" data-tooltip-type="selector" data-tooltip-content=".submenu_username">
			You &amp; Friends		</a>
		<div class="submenu_username" style="display: none;" data-submenuid="username">
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/home/">Activity</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/">Profile</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/friends/">Friends</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/groups/">Groups</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/screenshots/">Content</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/badges/">Badges</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/inventory/">Inventory</a>
		</div>
	
	
	<a class="menuitem" href="https://help.steampowered.com/en/">
		Support	</a>

							<div class="minor_menu_items">
																	<a class="menuitem" href="https://store.steampowered.com/account/">Account details</a>
									<a class="menuitem" href="https://store.steampowered.com/account/preferences">Preferences</a>
																<div class="menuitem change_language_action">
									Change language								</div>
																	<div class="menuitem" onclick="Logout();">Change User</div>
																									<div class="menuitem" onclick="Responsive_RequestDesktopView();">
										View desktop website									</div>
															</div>
						</div>
						<div class="mainmenu_footer_spacer"></div>
						<div class="mainmenu_footer">
							<div class="mainmenu_footer_logo"><img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/logo_valve_footer.png"></div>
							© Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.							<span class="mainmenu_valve_links">
								<a href="https://store.steampowered.com/privacy_agreement/" target="_blank">Privacy Policy</a>
								&nbsp;| &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Legal</a>
								&nbsp;| &nbsp;<a href="https://store.steampowered.com/subscriber_agreement/" target="_blank">Steam Subscriber Agreement</a>
								&nbsp;| &nbsp;<a href="https://store.steampowered.com/steam_refunds/" target="_blank">Refunds</a>
							</span>
						</div>
					</div>
									</div>
			</div>
		
		<div class="responsive_local_menu_tab">

		</div>

		<div class="responsive_page_menu_ctn localmenu">
			<div class="responsive_page_menu"  id="responsive_page_local_menu">
				<div class="localmenu_content">
				</div>
			</div>
		</div>



					<div class="responsive_header">
				<div class="responsive_header_content">
					<div id="responsive_menu_logo">
						<img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/header_menu_hamburger.png" height="100%">
													<div class="responsive_header_notification_badge_ctn">
								<div class="responsive_header_notification_badge notification_count_total_ctn has_notifications">
									<span class="notification_count">12</span>
								</div>
							</div>
											</div>
					<div class="responsive_header_logo">
						<img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/header_logo.png" height="36" border="0" alt="STEAM">
					</div>
				</div>
			</div>
		
		<div class="responsive_page_content_overlay">

		</div>

		<div class="responsive_fixonscroll_ctn nonresponsive_hidden ">
		</div>
	
	<div class="responsive_page_content">

		<div id="global_header">
	<div class="content">
		<div class="logo">
			<span id="logo_holder">
									<a href="https://store.steampowered.com/">
						<img src="https://steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?t=962016" width="176" height="44">
					</a>
							</span>
			<!--[if lt IE 7]>
			<style type="text/css">
				#logo_holder img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
				#logo_holder { display: inline-block; width: 176px; height: 44px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://steamcommunity-a.akamaihd.net/public/images/v5/globalheader_logo.png'); }
			</style>
			<![endif]-->
		</div>

			<div class="supernav_container">
	<a class="menuitem supernav" href="https://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
		STORE	</a>
	<div class="submenu_store" style="display: none;" data-submenuid="store">
		<a class="submenuitem" href="https://store.steampowered.com/">Featured</a>
		<a class="submenuitem" href="https://store.steampowered.com/explore/">Explore</a>
		<a class="submenuitem" href="https://store.steampowered.com/curators/">Curators</a>
		<a class="submenuitem" href="https://steamcommunity.com/my/wishlist/">Wishlist</a>
		<a class="submenuitem" href="https://store.steampowered.com/news/">News</a>
		<a class="submenuitem" href="https://store.steampowered.com/stats/">Stats</a>
					<a class="submenuitem" href="https://store.steampowered.com/about/">ABOUT</a>
			</div>


	<a class="menuitem supernav" style="display: block" href="https://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
		COMMUNITY	</a>
	<div class="submenu_community" style="display: none;" data-submenuid="community">
		<a class="submenuitem" href="https://steamcommunity.com/">Home</a>
		<a class="submenuitem" href="https://steamcommunity.com/discussions/">Discussions</a>
		<a class="submenuitem" href="https://steamcommunity.com/workshop/">Workshop</a>
		<a class="submenuitem" href="https://steamcommunity.com/market/">Market</a>
		<a class="submenuitem" href="https://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
							</div>

	

			<a class="menuitem supernav username" href="https://steamcommunity.com/profiles/76561198972540829/home/" data-tooltip-type="selector" data-tooltip-content=".submenu_username">
			1147816814		</a>
		<div class="submenu_username" style="display: none;" data-submenuid="username">
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/home/">Activity</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/">Profile</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/friends/">Friends</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/groups/">Groups</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/screenshots/">Content</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/badges/">Badges</a>
			<a class="submenuitem" href="https://steamcommunity.com/profiles/76561198972540829/inventory/">Inventory</a>
		</div>
	
						<a class="menuitem" href="https://steamcommunity.com/chat/">
				Chat			</a>
			
	<a class="menuitem" href="https://help.steampowered.com/en/">
		SUPPORT	</a>
	</div>
	<script type="text/javascript">
		jQuery(function($) {
			$('#global_header .supernav').v_tooltip({'location':'bottom', 'destroyWhenDone': false, 'tooltipClass': 'supernav_content', 'offsetY':-4, 'offsetX': 1, 'horizontalSnap': 4, 'tooltipParent': '#global_header .supernav_container', 'correctForScreenSize': false});
		});
	</script>

		<div id="global_actions">
			<div id="global_action_menu">
									<div class="header_installsteam_btn header_installsteam_btn_gray">

						<a class="header_installsteam_btn_content" href="https://store.steampowered.com/about/">
							Install Steam						</a>
					</div>
				
				
										<!-- notification inbox area -->
																								<div id="header_notification_area">
									<script type="text/javascript">$J(EnableNotificationCountPolling);</script>
		<div id="header_notification_link" class="header_notification_btn global_header_toggle_button notification_count_total_ctn has_notifications" onclick="ShowMenu( this, 'header_notification_dropdown', 'right' );">
			<span class="notification_count">12</span>
			<span class="header_notification_envelope">
				<img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/header_menu_notifications.png" width="11" height="8">
			</span>
		</div>
	
			<div class="popup_block_new" id="header_notification_dropdown" style="display: none;">
			<div class="popup_body popup_menu">
							<a data-notification-type="4" class="popup_menu_item notification_ctn header_notification_comments " href="https://steamcommunity.com/profiles/76561198972540829/commentnotifications/">
				<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 new comment</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> new comments</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="5" class="popup_menu_item notification_ctn header_notification_items " href="https://steamcommunity.com/profiles/76561198972540829/inventory/">
				<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 new item in your inventory</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> new items in your inventory</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="6" class="popup_menu_item notification_ctn header_notification_invites " href="https://steamcommunity.com/profiles/76561198972540829/home/invites/">
				<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 new invite</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> new invites</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="8" class="popup_menu_item notification_ctn header_notification_gifts " href="https://steamcommunity.com/profiles/76561198972540829/inventory/#pending_gifts">
				<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 new gift</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> new gifts</span>			</a>
			<div class="header_notification_dropdown_seperator"></div>
						<a data-notification-type="9" class="popup_menu_item notification_ctn header_notification_offlinemessages active_inbox_item" href="javascript:void(0)" onclick="LaunchWebChat(); HideMenu( 'header_notification_link', 'header_notification_dropdown' ); return false;">
				<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 unread chat message</span><span class="notification_count_string plural" style=""><span class="notification_count">11</span> unread chat messages</span>			</a>
								<a data-notification-type="1" class="popup_menu_item notification_ctn hide_when_empty header_notification_tradeoffers active_inbox_item" href="https://steamcommunity.com/profiles/76561198972540829/tradeoffers/">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span><span class="notification_count_string singular" style="">1 new trade notification</span><span class="notification_count_string plural" style="display: none;"><span class="notification_count">1</span> new trade notifications</span>					</a>
								<a data-notification-type="2" class="popup_menu_item notification_ctn hide_when_empty header_notification_asyncgame " href="https://steamcommunity.com/profiles/76561198972540829/gamenotifications">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 turn waiting</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> new turns waiting</span>					</a>
								<a data-notification-type="3" class="popup_menu_item notification_ctn hide_when_empty header_notification_moderatormessage " href="https://steamcommunity.com/profiles/76561198972540829/moderatormessages">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 community message</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> community messages</span>					</a>
								<a data-notification-type="10" class="popup_menu_item notification_ctn hide_when_empty header_notification_helprequestreply " href="https://help.steampowered.com/en/wizard/HelpRequests">
						<div class="header_notification_dropdown_seperator"></div>
						<span class="notification_icon"></span><span class="notification_count_string singular" style="display: none;">1 reply from Steam Support</span><span class="notification_count_string plural" style=""><span class="notification_count">0</span> replies from Steam Support</span>					</a>
							</div>
		</div>
							</div>
					<span class="pulldown global_action_link" id="account_pulldown" onclick="ShowMenu( this, 'account_dropdown', 'right', 'bottom', true );">alanderlt</span>
					<div class="popup_block_new" id="account_dropdown" style="display: none;">
						<div class="popup_body popup_menu">
															<a class="popup_menu_item" href="javascript:Logout();">Logout</a>
																						<a class="popup_menu_item" href="https://store.steampowered.com/account/">Account details</a>
								<a class="popup_menu_item" href="https://store.steampowered.com/account/preferences/">Preferences</a>
														<span class="popup_menu_item" id="account_language_pulldown">Change language</span>
							<div class="popup_block_new" id="language_dropdown" style="display: none;">
								<div class="popup_body popup_menu">
																																									<a class="popup_menu_item tight" href="?l=schinese&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'schinese' ); return false;">简体中文 (Simplified Chinese)</a>
																																<a class="popup_menu_item tight" href="?l=tchinese&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'tchinese' ); return false;">繁體中文 (Traditional Chinese)</a>
																																<a class="popup_menu_item tight" href="?l=japanese&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'japanese' ); return false;">日本語 (Japanese)</a>
																																<a class="popup_menu_item tight" href="?l=koreana&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'koreana' ); return false;">한국어 (Korean)</a>
																																<a class="popup_menu_item tight" href="?l=thai&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'thai' ); return false;">ไทย (Thai)</a>
																																<a class="popup_menu_item tight" href="?l=bulgarian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'bulgarian' ); return false;">Български (Bulgarian)</a>
																																<a class="popup_menu_item tight" href="?l=czech&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'czech' ); return false;">Čeština (Czech)</a>
																																<a class="popup_menu_item tight" href="?l=danish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'danish' ); return false;">Dansk (Danish)</a>
																																<a class="popup_menu_item tight" href="?l=german&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'german' ); return false;">Deutsch (German)</a>
																																<a class="popup_menu_item tight" href="?l=english&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'english' ); return false;">English</a>
																																<a class="popup_menu_item tight" href="?l=spanish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'spanish' ); return false;">Español - España (Spanish - Spain)</a>
																																<a class="popup_menu_item tight" href="?l=latam&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'latam' ); return false;">Español - Latinoamérica (Spanish - Latin America)</a>
																																<a class="popup_menu_item tight" href="?l=greek&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'greek' ); return false;">Ελληνικά (Greek)</a>
																																<a class="popup_menu_item tight" href="?l=french&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'french' ); return false;">Français (French)</a>
																																<a class="popup_menu_item tight" href="?l=italian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'italian' ); return false;">Italiano (Italian)</a>
																																<a class="popup_menu_item tight" href="?l=hungarian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'hungarian' ); return false;">Magyar (Hungarian)</a>
																																<a class="popup_menu_item tight" href="?l=dutch&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'dutch' ); return false;">Nederlands (Dutch)</a>
																																<a class="popup_menu_item tight" href="?l=norwegian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'norwegian' ); return false;">Norsk (Norwegian)</a>
																																<a class="popup_menu_item tight" href="?l=polish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'polish' ); return false;">Polski (Polish)</a>
																																<a class="popup_menu_item tight" href="?l=portuguese&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'portuguese' ); return false;">Português (Portuguese)</a>
																																<a class="popup_menu_item tight" href="?l=brazilian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'brazilian' ); return false;">Português - Brasil (Portuguese - Brazil)</a>
																																<a class="popup_menu_item tight" href="?l=romanian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'romanian' ); return false;">Română (Romanian)</a>
																																<a class="popup_menu_item tight" href="?l=russian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'russian' ); return false;">Русский (Russian)</a>
																																<a class="popup_menu_item tight" href="?l=finnish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'finnish' ); return false;">Suomi (Finnish)</a>
																																<a class="popup_menu_item tight" href="?l=swedish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'swedish' ); return false;">Svenska (Swedish)</a>
																																<a class="popup_menu_item tight" href="?l=turkish&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'turkish' ); return false;">Türkçe (Turkish)</a>
																																<a class="popup_menu_item tight" href="?l=vietnamese&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'vietnamese' ); return false;">Tiếng Việt (Vietnamese)</a>
																																<a class="popup_menu_item tight" href="?l=ukrainian&p=undefined&a=76561198972540829&k=kYQvMURgtNcWqcsrOGNOEjZiAoY%3D&m=android&tag=conf&t=1578900113" onclick="ChangeLanguage( 'ukrainian' ); return false;">Українська (Ukrainian)</a>
																												<a class="popup_menu_item tight" href="http://translation.steampowered.com" target="_blank">Help us translate Steam</a>
								</div>
							</div>
															<a class="popup_menu_item" href="https://steamcommunity.com/profiles/76561198972540829/">View profile</a>
													</div>
					</div>
					<script type="text/javascript">
						RegisterFlyout( 'account_language_pulldown', 'language_dropdown', 'leftsubmenu', 'bottomsubmenu', true );
					</script>
											<div id="header_wallet_ctn">
							<a class="global_action_link" id="header_wallet_balance" href="https://store.steampowered.com/account/store_transactions/">HK$ 40.00</a>
						</div>
												</div>
							<a href="https://steamcommunity.com/profiles/76561198972540829/" class="user_avatar playerAvatar offline">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/86/8686d14bf547968d8b3c545c208d48eddc0e80fb.jpg">
				</a>
					</div>
			</div>
</div>
<script type="text/javascript">
	g_sessionID = "663d2d72c78b03565f7659cd";
	g_steamID = "76561198972540829";
	g_SNR = '2_mobileconf_conf_';

	// We always want to have the timezone cookie set for PHP to use
	setTimezoneCookies();

	$J( function() {

		InitMiniprofileHovers();
		InitEmoticonHovers();


				g_CommunityPreferences = {"hide_adult_content_violence":1,"hide_adult_content_sex":1,"parenthesize_nicknames":0,"timestamp_updated":0};
				ApplyAdultContentPreferences();
	});

	$J( function() { InitEconomyHovers( "https:\/\/steamcommunity-a.akamaihd.net\/public\/css\/skin_1\/economy.css?v=Puk7JmfocgYh&l=english", "https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/economy_common.js?v=tsXdRVB0yEaR&l=english", "https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/economy.js?v=rI0xgpCYSBS9&l=english" );});</script>

		<div class="responsive_page_template_content">

				<div id="mobileconf_list">
		<div class="mobileconf_list_entry" id="conf7272265474" data-confid="7272265474" data-key="11423233236940620261" data-type="2" data-creator="3866538761" data-cancel="Cancel" data-accept="Accept" >
	<div class="mobileconf_list_entry_content">
		<div class="mobileconf_list_entry_icon">
			<div class="playerAvatar offline"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4c/4cabcdf9aff5f31ecbf17812ead6fb86d4e0c2a5.jpg" srcset="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4c/4cabcdf9aff5f31ecbf17812ead6fb86d4e0c2a5.jpg 1x, https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4c/4cabcdf9aff5f31ecbf17812ead6fb86d4e0c2a5_medium.jpg 2x"></div>		</div>				<div class="mobileconf_list_entry_description">
			<div>Trade <span style="color: #D2D2D2">Berserker's Pauldron</span> to BUFF信使-244</div>
			<div>You will receive nothing</div>
			<div>Just now</div>
		</div>
	</div>

	<div class="mobileconf_list_entry_sep"></div>
</div>
	</div>
	<div id="mobileconf_done" class="mobileconf_done mobileconf_header" style="display: none">
		<div>All done</div>
		<div>You're all done, there's nothing left to confirm.</div>
	</div>

<div id="mobileconf_details" style="display: none">
</div>

<div id="mobileconf_buttons" style="display: none">
	<div>
	<div class="mobileconf_button mobileconf_button_cancel">
	</div><div class="mobileconf_button mobileconf_button_accept">
	</div>
	</div>
</div>

<div id="mobileconf_throbber" style="display: none">
	<div style="text-align:center; margin: auto;">
		<img src="https://steamcommunity-a.akamaihd.net/public/images/login/throbber.gif" alt="Loading">
	</div>
</div>

		</div>	<!-- responsive_page_legacy_content -->

			<div id="footer_spacer"></div>
	<div id="footer_responsive_optin_spacer"></div>
	<div id="footer">
		<div class="footer_content">
			<span id="footerLogo"><img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/footerLogo_valve.png?v=1" width="96" height="26" border="0" alt="Valve Logo" /></span>
			<span id="footerText">
				&copy; Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.<br/>Some geospatial data on this website is provided by <a href="https://steamcommunity.com/linkfilter/?url=http://www.geonames.org" target="_blank" rel="noreferrer">geonames.org</a>.				<br>
									<span class="valve_links">
						<a href="http://store.steampowered.com/privacy_agreement/" target="_blank">Privacy Policy</a>
						&nbsp; | &nbsp;<a href="https://store.steampowered.com/legal/" target="_blank">Legal</a>
						&nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/" target="_blank">Steam Subscriber Agreement</a>
					</span>
							</span>
		</div>
					<div class="responsive_optin_link">
				<div class="btn_medium btnv6_grey_black" onclick="Responsive_RequestMobileView()">
					<span>View mobile website</span>
				</div>
			</div>
			</div>
	
	</div>	<!-- responsive_page_content -->

</div>	<!-- responsive_page_frame -->
</body>
</html>